<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samambaia</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header class="cabecalho">
        <h2 class="cabecalho__titulo">Samambaia</h2>
        <img class="cabecalho__imagem" src="../static/img/ic_menu.png" alt="Menu hamburguer">
    </header>
    <main>
        <section class="container">
            <h1 class="container__titulo"><b class="container__titulo--negrito">Este</b> é um cupom para a <b class="container__titulo--negrito">LojaX</b></h1>
            <p class="container__texto">Para validar seu cupom, digite seu CPF abaixo.</p>
        </section>
        <section>
        <div class="validar"
            <form>
                <label for="cpf"></label>
                <input class="validar__input" type="text" id="cpf" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="Digite o seu CPF" required>
                </div>
                <div class="botao"
                    <button class="validar__botao" type="button">Validar</button>
                </div>
            </form>
        </section>
        
    </main>
    <footer class="rodape">
        <p class="rodape__texto">@Copyright</p>
    </footer>
</body>
</html>